.products-page{
    .card{
        height: 100%;
        // &-body{
        //     min
        // }

        &-image{
            height: 200px;
            width: 100%;
    
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}